<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/viewHisaab.css" />
    <title>Hisaab</title>
  </head>

  <body onload="getPassword()">
    <div class="mainWrapper">
      <!-- Include header partial -->
      <%- include('header') %>

      <div class="upperSection">
        <div class="operationButtonWrapper">
          <% if(hisaab.isEncrypt === true) { %>
          <span>Encrypted</span>
          <% } %> <% if(hisaab.isSharable === true) { %>
          <div class="isShareableSVGWrapper">
            <img src="/svgs/isSharable.svg" alt="..." />
          </div>
          <% } %>

          <!-- Delete button -->
          <form
            action="/delete/<%= hisaab._id %>"
            method="POST"
            style="display: inline"
          >
            <button class="deleteButton">Delete</button>
          </form>

          <!-- Edit button -->
          <button class="editButton" onclick="toggleEditMode()">Edit</button>
        </div>

        <div class="dateWrapper">
          <span>Created Date: <%= hisaab.data.toLocaleDateString() %></span>
        </div>
      </div>

      <div class="hisaabWrapper">
        <div class="titleWrapper">
          <span><%= hisaab.name %></span>
        </div>
        <div class="contentWrapper">
          <!-- Textarea will be shown only when in edit mode -->
          <form
            id="editForm"
            action="/update/<%= hisaab._id %>"
            method="POST"
            style="display: none"
          >
            <textarea name="content" id="contentTextarea">
<%= hisaab.content.trim() %></textarea
            >
            <button type="submit" class="saveButton">Save</button>
          </form>

          <!-- Content is shown by default in view mode -->
          <div id="viewContent" style="display: block">
            <%= hisaab.content %>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/viewHisaab.js"></script>
  </body>
</html>
